body {
    background-color: black;
    color: white;
}

.header {
    color: darkgray;
}

.center {
    display: flex;
    justify-content: center;
}

.showHide {
    display: none;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.button {
    width: 200px;
    height: 100px;
    color: white;
    background-color: darkgray;
    margin-left: auto;
    margin-right: auto;
}